
<h2>List of certificates</h2>
<div class="row mb-3"></div>
<div class="row mb-3">
  <button class="btn btn-primary" (click)="addCertif()">Add Certificate</button>
</div>
<table class="table table-striped">

  <thead>
    <tr>
      <th>ID</th>
      <th>Student Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Expiration Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let certificate of certificates">
      <td>{{ certificate.idCertificate }}</td>
      <td>{{ certificate.studentName }}</td>
      <td>{{ certificate.title }}</td>
      <td>{{ certificate.description }}</td>
      <td>{{ certificate.expirationDate | date: 'yyyy-MM-dd' }}</td>
     
      <button class="btn btn-danger" (click)="deleteCertif(certificate)">Delete</button>
      <button class="btn btn-primary" (click)="updateCertif(certificate)">Edit</button>
    </tr>
  </tbody>
</table>
<div *ngIf ="certificates.length==0">
  Result is empty
</div>
