<div class="row align-items-center">
    <div class="col-xl-4">
      <div class="pq-patient-img"><img src="https://peacefulqode.com/themes/medicate/html/images/single-team.jpg" class="img-fluid" alt=""></div>
    </div>
    <div class="col-xl-8 mt-xl-0 mt-4 ps-xl-5">
      <div class="pq-section pq-style-1 text-left">
        <h6 class="pq-section-sub-title">Outpatient Surgery</h6>
        <h2 class="pq-section-title">Alex Jhon Martin</h2>
        <p>Established fact that a reader will be distracted by the readable content of a page when looking at its layout. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </div>
      <div class="pq-icon-box-3 d-flex mb-2">
        <div class="pq-icon-box-icon-3"><i aria-hidden="true" class="ion ion-ios-telephone"></i></div>
        <div class="pq-icon-box-content-3">
          <h4 class="pq-icon-box-title-3"><span>+1-234-2346</span></h4>
        </div>
      </div>
      <div class="pq-icon-box-3 d-flex mb-2">
        <div class="pq-icon-box-icon-3"><i aria-hidden="true" class="ion ion-ios-email"></i></div>
        <div class="pq-icon-box-content-3">
          <h4 class="pq-icon-box-title-3"><span>info@peacefulthemes.com</span></h4>
        </div>
      </div>
      <div class="pq-icon-box-3 d-flex mb-2">
        <div class="pq-icon-box-icon-3"><i aria-hidden="true" class="ion ion-link"></i></div>
        <div class="pq-icon-box-content-3">
          <h4 class="pq-icon-box-title-3"><span>peacefulqode.com</span></h4>
        </div>
      </div>
      <div class="pq-title-text mt-4">
        <h5>Disponibilities:</h5>
      </div>
      <div class="pq-social-icon">
        <app-appointment [profileId]="profileId"></app-appointment>
    </div>
    </div>
  </div>
  