/* styles.css */

/* Navbar */
header {
    background-color: #f8f9fa;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    max-height: 40px;
  }
  
  .account-icon {
    margin-left: auto;
  }
  
  .main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .sidebar {
    background-color: rgba(146, 183, 208, 0.8); /* Set sidebar background color with transparency */
    padding: 20px;
    color: #fff;
    height: 100%;
    width: 220px;
    display: flex; /* Use flexbox to center and space out the elements */
    flex-direction: column; /* Arrange elements vertically */
    justify-content: center; /* Center elements vertically */
    align-items: center; /* Center elements horizontally */
    gap: 10px; /* Add spacing between elements */
  }
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .sidebar li:hover {
    opacity: 0.8;
  }
  
  .forms {
    flex: 1;
    padding: 20px;
  }
  
  .forms h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .forms label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
    font-size: 16px;
  }
  
  .forms input[type="text"],
  .forms input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .forms button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .forms button[type="submit"]:hover {
    background-color: 45;
  }

  .password-input {
    position: relative;
  }
  
  .password-input input {
    padding-right: 2.5rem;
  }
  
  .password-input i {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  
  