.message-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
  }
  
  input[type="number"],
  textarea {
    padding: 5px;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  