<!DOCTYPE html>
<html lang="en">
    
    <body>
		<a href="">
			<div class="pic">
			  <img src="assets/img/hopital.png" class="img-fluid" alt="">
			</div>
		  </a>
      <div class="background-shape circle-one"></div> 
      <div class="background-shape circle-two"></div> 
      <div class="background-shape square-one"></div> 
      <div class="background-shape square-two"></div> 
      <div class="background-shape square-three"></div> 
      <div class="background-shape triangle-one"></div> 
      <div class="background-shape triangle-two"></div> 
      <div class="background-shape triangle-three"></div> 
      <div class="background-shape triangle-three1"></div> 
      <div class="background-shape rectangle-one"></div> 
      <div class="background-shape rectangle-two"></div>
      
      <div class="container" id="container">
    <div class="form-container sign-up-container">
        <form action="#">
            <h1>Create Account</h1>
           
            <span>or use your email for registration</span>
            <button [routerLink]="'/register'" >Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in-container">
        <form action="#">
            <h1>Sign in</h1>
            <div class="social-container">
                <a  class="social"><i class="fab fa-facebook-f"></i></a>
                <a  class="social"><i class="fab fa-google-plus-g"></i></a>
                <a  class="social"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <span>or use your account</span>
            <input type="text"  name="email" id="email" placeholder="Email adress"   required [(ngModel)]="email" />
            <input type="password" name="password" id="password" placeholder="Password"   required [(ngModel)]="password" />
            <a href="#" class="forgot-password" [routerLink]="'/reset-password'" >Forgot your password?</a>
            <button (click)="login()" >Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1 style="color: white;">Hello, Friend!</h1>
                <p>Lacking an account click this button to start your medical journey with us !</p>
                <button class="ghost" id="signUp" [routerLink]="'/register'" >Sign Up</button>
            </div>
        </div>
    </div>
</div>
    </body>
</html>

