
  .card {
    max-width: 100%;
    background-color: #f5f5f5;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    padding: 20px;
  }
  
  .card-header {
    background-color: #fff;
    border-bottom: none;
    font-weight: bold;
  }
  
  .claim-form {
    margin-top: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 10px;
  }
  
  .btn-primary {
    background-color: #17a2b8;
    border: none;
    border-radius: 10px;
  }
  
  .btn-primary:hover {
    background-color: #11707b;
  }
  