.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-link {
    padding: 10px 15px;
    font-size: 18px;
  }
  
  .navbar-toggler {
    border: none;
    padding: 10px;
  }
  
  .navbar-toggler-icon {
    background-color: #000;
    height: 3px;
    width: 20px;
  }
  
  .form-inline {
    margin-left: 20px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #666;
  }
  
  /**
* Appointment Button *
*/
.appointment-btn {
  margin-left: 25px;
  background: #1977cc;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
}

.appointment-btn:hover {
  background: #166ab5;
  color: #fff;
}

@media (max-width: 768px) {
  .appointment-btn {
    margin: 0 15px 0 0;
    padding: 6px 18px;
  }
}