
<div>
  <h2> User List</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th> First Name</th>
        <th> Last name</th>
        <th> Email </th>
        <th> Phone Number</th>
        <th> CIN</th>
        <th> Role </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of List">
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phonenumber }}</td>
        <td>{{ user.cin }}</td>
        <td>{{ user.appUserRole }}</td>

        <td>
          <button (click)="removeUser(user.email)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
        </td>
        <td>
          <button (click)="unlockUser(user.email)" class="appointment-btn scrollto" style="margin-left: 10px">Unlock</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
