<a href="">
    <div class="pic">
      <img src="assets/img/hopital.png" class="img-fluid" alt="">
    </div>
  </a>
<div class="container">
    <div class="left">
      <div class="header">
        <h2 class="animation a1">Having a bit of a problem accessing your account</h2>
        <h4 class="animation a2">Type in your email to reset your password!</h4>
      </div>
      <div class="form">
        <input type="email" class="form-field animation a3" [(ngModel)]="email" required placeholder="Email Address">
        
        <ng-container *ngIf="!isTokenSent">
          <button class="animation a6" (click)="sendToken()">Send reset Code</button>
        </ng-container>
        
        <ng-container *ngIf="isTokenSent">
          <input type="text" class="form-field animation a4" [(ngModel)]="token" required placeholder="Reset code">
          <input type="password" class="form-field animation a5" [(ngModel)]="newPassword" required placeholder="New Password">
          <button class="animation a6" (click)="resetPassword()">Reset Password</button>
        </ng-container>
      </div>
    </div>
    <div class="right"></div>
  </div>
  