    <!-- START TOPBAR -->
<app-navbarback></app-navbarback>
    <!-- END TOPBAR -->
    <!-- START CONTAINER -->
    <div class="page-container row-fluid container-fluid">

        <!-- SIDEBAR - START -->
<app-sidebar></app-sidebar>
        
        <!--  SIDEBAR - END -->

        <!-- START CONTENT -->
        <section id="main-content" class=" ">
            <div class="wrapper main-wrapper row" style=''>

                <router-outlet></router-outlet>

           </div>
        </section>
        <!-- END CONTENT -->
     
    </div>