
    <div class='col-xs-12'>
        <div class="page-title">

            <div class="pull-left">
                <!-- PAGE HEADING TAG - START -->
                <h1 class="title">Dashboard</h1>
                <!-- PAGE HEADING TAG - END -->
            </div>

        </div>
    </div>
    <div class="col-lg-12">
        <section class="box nobox marginBottom0">
            <div class="content-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-12 col-xs-12">
                        <div class="box">
                            <div class="hos-promo">
                                <div class="promo-info">
                                    <h3 class="w-text bold">Get full free <br> medical Check up!</h3>
                                    <h4 class="g-text bold">29 Nov .... 20:00 PM</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="r4_counter db_box">
                            <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                <img src="../../assets/back-office-assets//icons/hos-icon-so1.png" class="ico-icon-o" alt="">
                            </i>
                            <div class="stats">
                                <h3 class="mb-5">200 Bed</h3>
                                <span>Total Hospital Beds </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="r4_counter db_box">
                            <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                <img src="../../assets/back-office-assets//icons/hos-icon-so2.png" class="ico-icon-o" alt="">
                            </i>
                            <div class="stats">
                                <h3 class="mb-5">126 Doctor</h3>
                                <span>Available Doctors</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="r4_counter db_box">
                            <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                <img src="../../assets/back-office-assets//icons/hos-icon-so3.png" class="ico-icon-o" alt="">
                            </i>
                            <div class="stats">
                                <h3 class="mb-5">3,743 Bills</h3>
                                <span>Pharmacy Medics</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-xs-12">
                        <div class="r4_counter db_box">
                            <i class="pull-left ico-icon icon-md icon-primary mt-10">
                                <img src="../../assets/back-office-assets//icons/hos-icon-so4.png" class="ico-icon-o" alt="">
                            </i>
                            <div class="stats">
                                <h3 class="mb-5">36 Ambula</h3>
                                <span>All Ambulance Cars</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- End .row -->
            </div>
        </section>
    </div>

    <div class="clearfix"></div>
    <!-- MAIN CONTENT AREA STARTS -->

    <div class="col-lg-8">
        <section class="box" style="overflow:hidden">
            <header class="panel_header">
                <h2 class="title pull-left">Hospital Visits Statistics</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="demoarea-chart">
                            <div id="demoarea-container" style="width: 100%;height:330px; text-align: center; margin:0 auto;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="col-lg-4">
        <section class="box ">
            <div class="content-body p">
                <div class="row">
                    <div class="doctors-list relative">
                        <div class="doctors-head text-center">
                            <h3 class="header w-text relative bold">Doctors List</h3>
                            <p class="desc g-text relative">Lorem ipsum dolor sit amet, Earum nes ciunt fugiat enim. Sequi quos labore.</p>
                        </div>
                        
                        <div class="doctor-card has-shadow">
                            <div class="doc-info-wrap">
                                <div class="doctor-img">
                                    <img src="../../assets/back-office-assets//hos-dash/doc1.jpg" alt="">
                                </div>
                                <div class="doc-info">
                                    <h4 class="bold">Smith Wright</h4>
                                    <h5>Clinical Doctor</h5>
                                    <div class="doc-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <span>4.8</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="doctor-card has-shadow mb-0">
                            <div class="doc-info-wrap">
                                <div class="doctor-img">
                                    <img src="../../assets/back-office-assets//hos-dash/doc2.jpg" alt="">
                                </div>
                                <div class="doc-info">
                                    <h4 class="bold">Peter Radofln</h4>
                                    <h5>Clinical Doctor</h5>
                                    <div class="doc-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half"></i>
                                        <span>4.5</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group no-mb">
                            <button type="button" class="btn btn-primary btn-lg mt-20 gradient-blue" style="width:100%"> View all doctors</button>
                        </div>

                    </div>
                   
                </div>
            </div>
        </section>
    </div>

    <div class="clearfix"></div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Recent Visits</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">    
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="project-activity list-unstyled mb-0">
                            <li class="activity-list warning">
                                <div class="detail-info">
                                    <div class="doc-img-con pull-left mr-10">
                                        <img src="../../assets/back-office-assets//hos-dash/doc1.jpg" width="80" alt="">
                                    </div>
                                    <div class="visit-doc">
                                        <p class="message">
                                            <span class="text-info bold">Dr : </span> Mutten Sultan
                                        </p>
                                        <small class="text-muted">
                                            Blood Check
                                        </small>
                                    </div>
                                    <div class="visit-date pull-right">
                                        <p class="mb-0">25 Nov</p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix"></li>
                            <li class="activity-list info">
                                <div class="detail-info">
                                    <div class="doc-img-con pull-left mr-10">
                                        <img src="../../assets/back-office-assets//hos-dash/doc2.jpg" width="80" alt="">
                                    </div>
                                    <div class="visit-doc">
                                        <p class="message ">
                                            <span class="text-info bold">Dr : </span> Smith Watson
                                        </p>
                                        <small class="text-muted">
                                            Thryoid Test
                                        </small>
                                    </div>
                                    <div class="visit-date pull-right">
                                        <p class="mb-0">25 Nov</p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list success">
                                <div class="detail-info">
                                    <div class="doc-img-con pull-left mr-10">
                                        <img src="../../assets/back-office-assets//hos-dash/doc3.jpg" width="80" alt="">
                                    </div>
                                    <div class="visit-doc">
                                        <p class="message ">
                                            <span class="text-info bold">Dr : </span> Sarah Mutten
                                        </p>
                                        <small class="text-muted">
                                            Full Blood image
                                        </small>
                                    </div>
                                    <div class="visit-date pull-right">
                                        <p class="mb-0">25 Nov</p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list danger">
                                <div class="detail-info pb0">
                                    <div class="doc-img-con pull-left mr-10">
                                        <img src="../../assets/back-office-assets//hos-dash/doc1.jpg" width="80" alt="">
                                    </div>
                                    <div class="visit-doc">
                                        <p class="message ">
                                            <span class="text-info bold">Dr : </span> Morese Sharpe
                                        </p>
                                        <small class="text-muted">
                                            Full Body Test
                                        </small>
                                    </div>
                                    <div class="visit-date pull-right">
                                        <p class="mb-0">25 Nov</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>      
                </div> <!-- End .row -->
            </div>
        </section>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-4">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Operation Success Rate</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">    
                <div class="row">
                    <div class="col-xs-12">
                          <div class="chart-container">
                              <div class="" style="height:200px" id="user_type"></div>
                          </div>
                    </div>      
                </div> <!-- End .row -->
            </div>
        </section>
    </div>



<div class="col-xs-12 col-md-6 col-lg-4">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Pharmacy Orders</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">    
            <div class="row">
                <div class="col-xs-12">
                    <div class="chart-container">
                        <div class="" style="height:200px" id="browser_type"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="clearfix"></div>

<div class="col-lg-8">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Recent Payments Queue</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">

                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="tech-companies-1" class="table vm table-small-font no-mb table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Patient</th>
                                    <th>Ward No.</th>
                                    <th>Dr Name</th>
                                    <th>Status</th>
                                    <th>Bills</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="round">S</div>
                                        <div class="designer-info">
                                            <h6>Sunil Joshi</h6>
                                            <small class="text-muted">Male, 34 Years</small>
                                        </div>
                                    </td>
                                    <td>202</td>
                                    <td>Elite Admin</td>
                                    <td><span class="badge round-primary">checkin</span></td>
                                    <td>$320,800</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="round round-success">V</div>
                                        <div class="designer-info">
                                            <h6>Messsy Adam</h6>
                                            <small class="text-muted">Male, 27 Years</small>
                                        </div>
                                    </td>
                                    <td>204</td>
                                    <td>Bright Themes</td>
                                    <td><span class="badge badge-primary">Vitals</span></td>
                                    <td>$170,750</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="round round-warning">J</div>
                                        <div class="designer-info">
                                            <h6>John Richards</h6>
                                            <small class="text-muted">Female, 34 Years</small>
                                        </div>
                                    </td>
                                    <td>459</td>
                                    <td>Junior Smith</td>
                                    <td><span class="badge round-danger">checkin</span></td>
                                    <td>$86,000</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="round round-primary">P</div>
                                        <div class="designer-info">
                                            <h6>Peter Meggik</h6>
                                            <small class="text-muted">Male, 19 Years</small>
                                        </div>
                                    </td>
                                    <td>206</td>
                                    <td>Flaion fanzzy</td>
                                    <td><span class="badge round-warning">checkin</span></td>
                                    <td>$433,060</td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="round round-danger">T</div>
                                        <div class="designer-info">
                                            <h6>Henry Tom</h6>
                                            <small class="text-muted">Female, 44 Years</small>
                                        </div>
                                    </td>
                                    <td> 406</td>
                                    <td> Light Ads</td>
                                    <td><span class="badge badge-primary">Vitals</span></td>
                                    <td>$162,700</td>
                                </tr>
                                

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>
    
    
</div>

<div class="col-xs-12 col-md-6 col-lg-4">
        <section class="box gradient-blue" style="padding:20px">
            <div class="doctor-card mb-0">
                <div class="doc-info-wrap transparent mb-30" style="padding:0px">
                    <div class="review-icon">
                        <img src="../../assets/back-office-assets//hos-dash/smile.png" alt="">
                    </div>
                    <div class="doc-info">
                        <h4 class="w-text bold">Positive Reviews</h4>
                        <h5 class="bold g-text">635 Reviews</h5>
                        <div class="doc-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span class="w-text">4.8</span>
                        </div>
                    </div>
                </div>
                <div class="progress mb-0">
                    <div class="progress-bar progress-bar-success text-left" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 76%">constructive reviews</div>
                </div>
            </div>

        </section>

        <section class="box gradient-pink" style="padding:20px">
            <div class="doctor-card mb-0">
                <div class="doc-info-wrap transparent mb-30" style="padding:0px">
                    <div class="review-icon">
                        <img src="../../assets/back-office-assets//hos-dash/sad.png" alt="">
                    </div>
                    <div class="doc-info">
                        <h4 class="w-text bold">Negative Reviews</h4>
                        <h5 class="bold g-text">35 Reviews</h5>
                        <div class="doc-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star g-text"></i>
                            <i class="fa fa-star g-text"></i>
                            <i class="fa fa-star g-text"></i>
                            <span class="w-text ">2.8</span>
                        </div>
                    </div>
                </div>
                <div class="progress mb-0">
                    <div class="progress-bar progress-bar-success text-left" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 24%">Unhappy</div>
                </div>
            </div>
        </section>

        

    </div>

    <div class="col-xs-12 col-md-6 col-lg-6">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Patients Notes</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">    
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="project-activity list-unstyled mb-0">
                            <li class="activity-list warning">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            I feel better Now :)
                                        </small>
                                        <p class="message">
                                            Meditation
                                        </p>
                                        
                                    </div>
                                    <div class="visit-date visit-stat pull-right">
                                        <p class="mb-0">OPENED</p>
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix"></li>
                            <li class="activity-list info">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            Treatment was good!
                                        </small>
                                        <p class="message">
                                            Thyroid Test
                                        </p>
                                    </div>
                                    <div class="visit-date visit-stat pull-right">
                                        <p class="mb-0 uppercase">closed</p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list success">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            My hair is gone!
                                        </small>
                                        <p class="message">
                                            Unhappy
                                        </p>
                                    </div>
                                    <div class="visit-date visit-stat pull-right">
                                        <p class="mb-0 uppercase">OPENED</p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list warning">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            My hair is gone!
                                        </small>
                                        <p class="message">
                                            Unhappy
                                        </p>
                                    </div>
                                    <div class="visit-date visit-stat pull-right">
                                        <p class="mb-0 uppercase">closed</p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list danger">
                                <div class="detail-info pb0">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            Great Mediacal Care 
                                        </small>
                                        <p class="message">
                                            Join Pain
                                        </p>
                                    </div>
                                    <div class="visit-date visit-stat pull-right">
                                        <p class="mb-0 uppercase">OPENED</p>
                                    </div>
                                </div>
                            </li>


                        </ul>
                    </div>      
                </div> <!-- End .row -->
            </div>
        </section>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6">
        <section class="box ">
            <header class="panel_header">
                <h2 class="title pull-left">Notifications</h2>
                <div class="actions panel_actions pull-right">
                    <a class="box_toggle fa fa-chevron-down"></a>
                    <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                    <a class="box_close fa fa-times"></a>
                </div>
            </header>
            <div class="content-body">    
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="project-activity list-unstyled mb-0">
                            <li class="activity-list warning">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            You comfirm Dr sultads visit 
                                        </small>
                                        <p class="message">
                                            27 July - 05:34
                                        </p>
                                        
                                    </div>
                                </div>
                            </li>
                            <li class="clearfix"></li>
                            <li class="activity-list info">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            Reminder : Treatment Time!
                                        </small>
                                        <p class="message">
                                            25 july - 20:00
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list success">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            You completed Dr Joun visit 
                                        </small>
                                        <p class="message">
                                            26 Feb - 23:47
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list warning">
                                <div class="detail-info">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            Your Blood check is good!
                                        </small>
                                        <p class="message">
                                            23 Jan - 21:45
                                        </p>
                                    </div>
                                </div>
                            </li>
                            <li class="activity-list danger">
                                <div class="detail-info pb0">
                                    <div class="visit-doc">
                                        <small class="text-muted">
                                            You Cancelled Dr Wall Smith visit
                                        </small>
                                        <p class="message">
                                            17 Nov - 12:23
                                        </p>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>      
                </div> <!-- End .row -->
            </div>
        </section>
    </div>


    <div class="clearfix"></div>

    <!-- MAIN CONTENT AREA ENDS -->
