<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">


				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Register</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px; margin-bottom: 15px;">Already have an account?</h3>
					
					
					<button class="my-button" [routerLink]="'/login'"><span>Sign In</span><i></i></button>
				
					
				</div>

				<!-- Account Type -->
				<!-- <div class="account-type">
					<div>
						<input type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked/>
						<label for="freelancer-radio" class="ripple-effect-dark"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
					</div>

					<div>
						<input type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio"/>
						<label for="employer-radio" class="ripple-effect-dark"><i class="icon-material-outline-business-center"></i> Employer</label>
					</div>
				</div>
					 -->
				<!-- Form -->
				<form method="post" id="register-account-form" (ngSubmit)="onSubmit()">
					
						
					
					  
					  
					  
					<div class="input-with-icon-left">
					  <i class="icon-feather-bar-chart-2"></i>
					  <input type="text" class="input-text with-border" name="firstname-register" [(ngModel)]="user.firstName" placeholder="Firstname" required/>
					</div>
					<div class="input-with-icon-left">
					  <i class="icon-feather-bar-chart-2"></i>
					  <input type="text" class="input-text with-border" name="lastname-register" [(ngModel)]="user.lastName" placeholder="Lastname" required/>
					</div>
					<div class="input-with-icon-left">
					  <i class="icon-material-outline-arrow-right-alt"></i>
					  <input type="text" class="input-text with-border" name="username-register" [(ngModel)]="user.phonenumber" placeholder="Phone number" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-arrow-right-alt"></i>
						<input type="text" class="input-text with-border" name="username-register" [(ngModel)]="user.CIN" placeholder="CIN" required/>
					  </div>

					  <div class="input-with-icon-left">
						<i class="icon-material-outline-arrow-right-alt"></i>
						<input type="text" class="input-text with-border" name="username-register" [(ngModel)]="user.job" placeholder="Daily job" required/>
					  </div>

					  
					
				  
					<div class="input-with-icon-left">
					  <i class="icon-material-baseline-mail-outline"></i>
					  <input type="text" class="input-text with-border" name="emailaddress-register" [(ngModel)]="user.email" placeholder="Email Address" required/>
					</div>
				  
					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
					  <i class="icon-material-outline-lock"></i>
					  <input type="password" class="input-text with-border" name="password-register" [(ngModel)]="user.password" placeholder="Password" required/>
					</div>
					<select name="role" placeholder="Roles" [(ngModel)]="user.Role" >
						<option value="" disabled selected hidden>Select a role</option>
						<option *ngFor="let role of roles" [value]="role">{{role}}</option>
					  </select>
					<form [formGroup]="aFormGroup">
						<ngx-recaptcha2 #captchaElem
						  [siteKey]="siteKey"
						  [useGlobalDomain]="false"
						  formControlName="recaptcha">
						</ngx-recaptcha2>
					  </form>
				<!-- Button -->
				<button  type="submit"  class="button full-width button-sliding-icon ripple-effect margin-top-10">Register <i class="icon-material-outline-arrow-right-alt"></i></button>
				
				
			</form>
				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
