<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card chat-card">
        <div class="card-header msger-header">
          <div class="msger-header-title">
            <i class="fas fa-comment-alt"></i> SimpleChat
          </div>
          <div class="msger-header-options">
            <span><i class="fas fa-cog"></i></span>
          </div>
        </div>
        <div class="card-body msger-chat chat-body">
          <div class="msg left-msg" *ngFor="let message of messages">
            <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"></div>
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-info-name">{{ message.name }}</div>
                <div class="msg-info-time">{{ message.time }}</div>
              </div>
              <div class="msg-text">{{ message.message }}</div>
            </div>
          </div>
        </div>
        <div class="card-footer msger-inputarea chat-footer">
          <form [formGroup]="chatForm" (ngSubmit)="onSubmit()" class="msger-form chat-form">
            <div class="msger-input-group input-group">
              <input type="text" formControlName="message" class="msger-input form-control chat-input" placeholder="Enter your message">
              <div class="input-group-append">
                <button type="submit" class="msger-send-btn btn btn-primary chat-send">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
